* {
 font-family: 'Roboto';
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
    min-height: 100vh;
    padding-bottom: 100px;
    position: relative;
}

header {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

thead {
    background-color: #5dd55d; /* Cor de fundo escura */
    color: #fff; /* Cor do texto branca */
}

table tbody tr:hover {
    background-color: rgba(255, 165, 0, 0.3); /* Cor de fundo ao passar o mouse sobre uma linha */
}
h1{
    font-size: 2.5rem;
    color: #ffa500;
    margin-bottom: 20px;
    text-align: center;
}

p {
    margin-bottom: 15px;
    text-align: justify;
}

a {
    text-decoration: none;
    font-weight: bold;
}

a:hover{
    color: #ffa500;
}


.row {
    margin: 0;
}

.container-fluid {
    padding: 0;
}

/*INICIO CAROUSEL*/
#carouselExampleIndicators {
    max-width: 100%;
    margin: 20px 0;
}

.carousel-inner img {
    width: 100%;
    border-radius: 10px; /* Adicione bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adicione uma sombra sutil */
}


.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.1); 
}
/*END carousel*/

/*escola*/
/* .container-edite{
    box-sizing: border-box;
    border-radius: 5%;
    background-color: #ccc;
} */

/*endEscola*/

/*doenca/question create page*/

#doenca-create-container {
    padding: 30px;
}

#doenca-create-container label {
    font-weight: bold;
}

#doenca-create-container input,
#doenca-create-container select,
#doenca-create-container textarea {
    font-size: 14px;
}

.btn-mais-pergunta{
    border-radius: 4px;
    padding: 3px;
    margin-top: 5px;
    display:flex;
    background-color:#ccc;
    color: black;

}

/*turma*/

#cadastro-turma-container{
    padding: 30px;
    margin-top: 15px;
    border: 1px solid #ffa500;
    border-radius: 3%;
}

#title-cadastros{
    color: #353e48;
    text-align: center;
}

/*endturma*/

/*Dashboard - doencas*/

.dashboard-title-container {
    margin-bottom: 30px;
    margin-top: 30px;
}


.dashboard-doencas-container th {
    width: 5%;
}

.dashboard-doencas-container form {
    display: inline-block;
}



.dashboard-question-container th {
    width: 15%;
}
.dashboard-turmas-container th{
    width: 2%;
}
.teste{
    width: 1% !important;
}
.dashboard-question-container form {

    display: inline-block;
}

/* .dashboard-userEscolar-container td {

} */

.button-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}


.dashboard-userEscolar-container form {
    display: inline-block;
}
.vinculo-btn {
    padding: 5px;
}

/*messagens flash - feedback para o usuario*/
.msg {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    width: 100%;
    margin-bottom: 0;
    text-align: center;
    padding: 10px;
}
.error {
    background-color: #d4edda;
    color: #e01515;
    border: 1px solid #c3e6cb;
    width: 100%;
    margin-bottom: 0;
    text-align: center;
    padding: 10px;
}
/* end */

.ions {
    color: black;
}


/*footer*/
footer {
    text-align: center;
    background-color: #353e48;
    color: #fff;
    padding: 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/*tirando a margin do footer*/
footer p {
    margin-bottom: 0;
}
